<div class="container">
  <div class="hBar">
    <img src="../../assets/kanini.png" class="hLogo">
    <div class="hFont">Careers</div>
  </div>
  <div class="headercontent">
    <h1 class="hcText">Data Engineer</h1>
    <div class="hcLocation">CHENNAI, INDIA &nbsp;&nbsp; FULL TIME </div>
  </div>


</div>
  <div class="content">
    <p>Full time, Chennai</p>
    <div> 
      <h5 class="fclass">Job description</h5>
      <p class="P-font-class">
        As Big Data Engineer, you will develop, maintain, evaluate, and test big data solutions. You will be involved in data engineering activities like Creating pipelines / workflows for Source to Target etc.
        </p>
    </div>
    <div> 
      <h5 class="fclass">Your role and responsibilities:</h5>
      <ul class="font-class">
        <li>You will be involved in the design of data solutions using Hadoop based technologies along with Hadoop, Azure, HDInsights for Cloudera based Data Late using Scala Programming.</li>
        <li>Responsible to Ingest data from files, streams and databases. Process the data with Hadoop, Scala, SQL Database, Spark, ML, IoT.</li>
        <li>Develop efficient software code for multiple use cases leveraging Python and Big Data technologies for various use cases built on the platform.</li>
        <li>Develop programs in Scala and Python as part of data cleaning and processing
            Responsible to design and develop distributed, high volume, high velocity multi-threaded event processing systems</li>
        <li>Provide high operational excellence guaranteeing high availability and platform stability
             scalable solutions to meet the ever-increasing data volumes, using big data/cloud technologies Pyspark, Kafka, any Cloud computing etc.
        </li>
      </ul> 
    </div>
    <div> 
      <h5 class="fclass">Inspire customer growth and advocacy:</h5>
      <ul class="font-class">
        <li>Work together with the Account Management team to discover opportunities for growth and drive net expansion.</li>
        <li>Promote awareness of Kanini’ latest innovations and motivate customers to become references, participate in events and contribute to case studies.</li>
        <li>Find new and creative ways to create “moments of wow” for our customers. </li>
      </ul> 
    </div>
    <div> 
      <h5 class="fclass">Desired Candidate Profile:</h5>
      <ul class="font-class">
        <li>Role: Software Developer.</li>
        <li>Industry Type: IT-Software, Software Services</li>
        <li>Functional Area: IT Software – Application Programming, Maintenance</li>
        <li>Role Category: Programming & Design</li>
      </ul> 
    </div>

    <div> 
      <h5 class="fclass">About Kanini</h5>
      <p class="P-font-class">At Kaini, we are creating a global workplace that enables everyone to find their true potential, purpose, and passion irrespective of their background, gender, race, sexual orientation, religion or ethnicity. We are committed to providing equal opportunity for all and believe that diversity in the workplace creates a more vibrant, richer work environment that advances the goals of our employees, communities and business.</p>
      <br>
      <p class="P-font-class">We were not born with Digital in mind. But, we anticipated the transformation and evolved to be future-ready, dedicating years to build expertise in Cloud Computing, AI & Data Analytics, Product Engineering, Automation, IoT, and Custom Solutions. The journey has led us to be a Trailblazer of Digital 2.0, enabling and accelerating Digital Adoption across multiple industries.</p>
      <br>
      <p class="P-font-class">We achieve this with our diverse team of Practice Consultants, Product and Data Engineers, Data Scientists, and Business Analysts. They collaborate and improve customer experience, reduce the total cost of operations, ensure compliance, and help generate additional revenues.</p>
    </div>
    
  </div>
  <div class="pageEnd">
    <hr />
        <table style="position: absolute; left:350px;">
            <tr>
            <td></td>
            <p style="position:relative;top:6px">Upload Resume: </p>
            <td style="position:absolute;left:130px;bottom:8px">
                <input
                id="fileType"
                type="file"
                (change)="imageSelected($event.target.files[0])"
                />
            </td>
            </tr>
        </table>
        <div class="endButton">
        <button class="button btn btn-primary" id="botBtn" (click)="buttonClick()" value={{val}} >Submit</button>
        <iframe src="{{result}}"  style='width:400px; height:400px; position: fixed; top:180px; left:900px;'></iframe>
        </div>
        <img class="button1" id="btn1" src="../../assets/logo.png" />
        <div class="botHeader" id="botHead">
          <img class="logoImage" src="../../assets/logo.png" />
          <span class="botName">Kanini Career Assistant</span>
          <hr>
                   <div class="close" id="closeId"></div>

          </div>


</div>

