<img class="logo" src="../../assets/logo.png" />
<div class="heading"><h3 class="hText">RESUME SCORE DASHBOARD</h3></div>
<div id="sidebar">
  <div class="list">
    <div class="item">
      <a href="https://kanini.com/" target="_blank">Kanini</a>
    </div>
    <div class="item">About us</div>
    <div class="item">Gallery</div>
    <div class="item"><a href="http://localhost:4200/login">Logout</a></div>
  </div>
</div>

<div class="check">
  <iframe
    width="1140"
    height="541.25"
    src="https://app.powerbi.com/reportEmbed?reportId=cf429852-1a55-4abd-a795-80e257f4ebc7&autoAuth=true&ctid=36da45f1-dd2c-4d1f-af13-5abe46b99921&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D&filterPaneEnabled=false&navContentPaneEnabled=false"
    frameborder="0"
    allowFullScreen="true"
  ></iframe>
</div>
